<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> <!-- Tailwind compiled CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../Img/safari logo.png" type="image/x-icon">
    <title>SAFARICA</title>
</head>

<body class="bg-gray-50 font-[sans-serif]">

    <!-- Navbar -->
    <nav class="p-4 flex items-center justify-around mx-auto bg-white rounded-lg shadow">
        <a href="/home"><img src="../Img/safari logo.png" alt="SAFARICA" class="w-[120px]"></a>
        <ul class="flex space-x-9 font-semibold text-gray-700">
            <li class="hover:text-orange-400"><a href="/about">About us</a></li>
            <li class="hover:text-orange-400"><a href="/summer">Summer Plan</a></li>
            <li class="hover:text-orange-400"><a href="/winter">Winter Plan</a></li>
            <li class="hover:text-orange-400"><a href="/contact">Contact</a></li>
            <li class="hover:text-orange-400"><a href="/login">Login</a></li>
        </ul>
    </nav>

    <!-- Form Section -->
    <div
        class="grid md:grid-cols-2 gap-16 items-center relative overflow-hidden mt-[150px] p-8 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-3xl max-w-6xl mx-auto bg-white font-[sans-serif] before:absolute before:right-0 before:w-[300px] before:bg-yellow-500 before:h-full max-md:before:hidden">
        <div>
            <h2 class="text-gray-800 text-3xl font-extrabold">Get In Touch</h2>
            <p class="text-sm text-gray-500 mt-4 leading-relaxed">Have a specific inquiry or looking to explore new
                opportunities? Our
                experienced team is ready to engage with you.</p>

            <!-- Formspree Integration -->
            <form id="contact-form" action="https://formspree.io/f/xnnqoqze" method="POST">
                <div class="space-y-4 mt-8">
                    <input id="full-name" name="full_name" type="text" placeholder="Full Name"
                        class="px-2 py-3 bg-white w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 outline-none" required />
                    <input id="street" name="street" type="text" placeholder="Street"
                        class="px-2 py-3 bg-white w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 outline-none" required />
                    <div class="grid grid-cols-2 gap-6">
                        <input id="city" name="city" type="text" placeholder="City"
                            class="px-2 py-3 bg-white w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 outline-none" required />

                        <input id="postcode" name="postcode" type="text" placeholder="Postcode"
                            class="px-2 py-3 bg-white w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 outline-none" required />
                    </div>
                    <input id="phone" name="phone" type="number" placeholder="Phone No."
                        class="px-2 py-3 bg-white w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 outline-none" required />

                    <input id="email" name="email" type="email" placeholder="Email"
                        class="px-2 py-3 bg-white w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 outline-none" required />

                    <textarea id="message" name="message" placeholder="Write Message"
                        class="px-2 pt-3 bg-white w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 outline-none" required></textarea>
                </div>

                <button type="submit"
                    class="mt-8 flex items-center justify-center text-sm w-full rounded-md px-6 py-3 bg-yellow-600 hover:bg-yellow-700 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill='#fff' class="mr-2"
                        viewBox="0 0 548.244 548.244">
                        <path fill-rule="evenodd"
                            d="M392.19 156.054 211.268 281.667 22.032 218.58C8.823 214.168-.076 201.775 0 187.852c.077-13.923 9.078-26.24 22.338-30.498L506.15 1.549c11.5-3.697 24.123-.663 32.666 7.88 8.542 8.543 11.577 21.165 7.879 32.666L390.89 525.906c-4.258 13.26-16.575 22.261-30.498 22.338-13.923.076-26.316-8.823-30.728-22.032l-63.393-190.153z"
                            clip-rule="evenodd" data-original="#000000" />
                    </svg>
                    Send Message
                </button>
            </form>
        </div>
        <div class="z-10 relative h-full max-md:min-h-[350px]">
            <iframe src="https://maps.google.com/maps?q=33.8746677,10.1099872&t=&z=17&ie=UTF8&iwloc=&output=embed"
                class="left-0 top-0 h-full w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </div>
</body>

</html>
